.container-structure {
    display: flex;
    justify-content: center;
}

.container-card {
    display: flex;

}
.container-structure-item1, .container-structure-item2, .container-structure-item3 {
    flex-grow: 0;
    flex-shrink: 0;
}
.container-structure-item1, .container-structure-item3 {
    padding-left: 6em;
    padding-right: 6em;
    flex-basis: 3em;
}
.container-structure-item2 {
    flex-basis: 20em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
}

#button-left, #button-right{
    border-radius: 25px;
    margin-top: 20em;
    cursor: pointer;
}
#button-left{
    padding-left: 2.6px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
#button-right{
    padding-right: 2.6px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.container-card img {
    border-radius: 7px;
    box-shadow: 2px 3px 2px 0px rgb(22, 22, 22);
}

body {
    background-color:black;
}
h1 {
    font-size: 3em;
    text-align: center;
    font-weight: 900;
    color: #9d2823;
}
[class*="card"] {
    background-color: #598e6a;
}